node_modules
.env
dist
text.md
teachers should be able to upload bulk results and maybe upload for example, firstCA for all or part of the students (in bulk or singular), then update it to add the secondCA and the exam too... do you get what i am saying?